<!DOCTYPE html>
<head>
    <title>Home</title>
</head>
<body>
    {% block content %}
    <table>
        <thead>
            Boggle Board
        </thead>
        <tbody>
        {% for row in session['board'] %}
        <tr>
            {% for cell in row %}
            <td>
                {{cell}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {# Guess Submission Form #}
    <form action="/guess" method="POST">
        <input type="text">
        <input type="submit" value="Guess">
    </form>
    {% endblock %}
</body>
</html>